/*--------------------------------------------------
# Header
----------------------------------*/

/*--------------------------------------------------
# To Bar
----------------------------------*/


header.top-bar{
    background: var(--bg-gradient-img);
    color: var(--color-yellow);
    padding: 1rem 4rem;
    text-align: center;
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.top-bar p{
    line-height: 36px;
    margin-bottom: 0;
}

header.top-bar a{
    color: var(--color-white);
}

@media screen and (max-width: 54rem) {
    .center{
        display: none;
    }
}


/*--------------------------------------------------
# Hero
----------------------------------*/
.hero{
    height: 100vh;
    background: url(https://cdn.pixabay.com/photo/2017/01/07/16/01/feng-shui-1960783_960_720.jpg);
    background-position: center;
    background-size: cover;
}


.hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    text-shadow: var(--text-shadow);
    width: 80%;
    transition: all 0.3s var(--ease-bounce);
}


.hero a{
    color: var(--color-purple);

}

.hero a:visited,
.hero a:hover,
.hero a:focus,
.hero a:active {
    color: var(--color-purple);
}


